<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdu.inspection.mapper.DamageImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stdu.inspection.pojo.DamageImage">
        <result column="damage_id" property="damageId" />
        <result column="filename" property="filename" />
        <result column="update_id" property="updateId" />
        <result column="insert_time" property="insertTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        damage_id, filename, update_id, insert_time
    </sql>

</mapper>
