<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdu.inspection.mapper.DamageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stdu.inspection.pojo.Damage">
        <id column="id" property="id" />
        <result column="post_user" property="postUser" />
        <result column="damage_type" property="damageType" />
        <result column="railway" property="railway" />
        <result column="damage_level" property="damageLevel" />
        <result column="location" property="location" />
        <result column="description" property="description" />
        <result column="post_date" property="postDate" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, post_user, damage_type, railway, damage_level, location, description, post_date, status
    </sql>

    <sql id="Damage_Damage_type_Column_List">
        id, post_user, railway, location, description, post_date, status, type_name,type_description,damage_type_id
    </sql>


    <select id="listDamageToday" resultType="com.stdu.inspection.pojo.DamageDamageType">
        select <include refid="Damage_Damage_type_Column_List" />
        from v_damage_damage_type where post_date like '%${time}%'
    </select>
</mapper>
