<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stdu.inspection.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stdu.inspection.pojo.Task">
        <id column="task_id" property="taskId" />
        <result column="damage_id" property="damageId" />
        <result column="receiver" property="receiver" />
        <result column="receive_date" property="receiveDate" />
        <result column="deadline" property="deadline" />
        <result column="status" property="status" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, damage_id, receiver, receive_date, deadline, status
    </sql>

    <sql id="Task_Process_List">
        t.task_id, t.damage_id, t.receive_date, t.deadline, t.status, t.receiver, d.post_date,
        d.location, d.description
    </sql>

    <select id="getTaskProcessById" resultType="com.stdu.inspection.pojo.TaskProcess">
        select <include refid="Task_Process_List" />
        from v_task_process where task_id = ${taskId};
    </select>

    <select id="listTaskByProcess" resultType="com.stdu.inspection.pojo.TaskProcess">
        select <include refid="Task_Process_List" />
        from v_task_process ${wrapper.customSqlSegment}
    </select>


</mapper>
